#header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  color: white;
  font-family: 'Arial';
  font-size: 2.5rem;
}
#header {
  --borderWidth: 3px;
  background-color: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
  /*background-image: url('./paws.png');
  background-size: 20% 105px;*/
  /*background-repeat: repeat;*/
}
#header:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.export {
  background-color: rgb(100,100,100);
  color: white;
  font-family: Arial; 
}

.export:hover {
  cursor: pointer;
  color: hotpink;

}

#radioitems {
	display: inline-block;
    margin-top: 15px;
	margin-bottom: 7px;
	border: 0px;
	width: 100%;
	height: 2em;
}

input[type='radio']:after {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: green;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

#table {
  margin-bottom: 10px;
}

#tabs-styled-with-inline {
    height: 44px;
    margin-left:10px;
    margin-bottom: 40px;
}

#tab1:hover span{
    /*color: #6c038f;*/
    text-decoration: underline;
}

#tab2:hover span{
    /*color: #6c038f;*/
    text-decoration: underline;
}

#tab3:hover span{
    /*color: #6c038f;*/
    text-decoration: underline;
}

#workflow-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "inst_label inst_type ui_label user_int mol_label mol_type"
    "sank_proc sank_stat sank_ann button button buttonR"
    "message message message message message message"
    "Graph-container Graph-container Graph-container Graph-container Graph-container Graph-container";
}

#inst_label {
  grid-area:inst_label;
  margin-bottom: 40px;
  margin-top: -10px;
}

#ui_label {
  grid-area:ui_label;
  margin-top: -10px;
}

#mol_label {
  grid-area:mol_label;
  margin-top: -10px;
}

#inst_type {
  grid-area:inst_type;
  margin: -10px 0px -10px -100px;
  width: 110px;
}

#user_int {
  grid-area:user_int;
  margin: -10px 0px -10px -100px;
  width: 110px;
}

#mol_type {
  grid-area:mol_type;
  margin: -10px 0px -10px 0px;
  width: 150px;
}

#message {
  grid-area:message;
  font-size: 20px;
  color:white;
  border: 2px solid black;
  margin-bottom: 0px;
  margin-top: -35px;
  text-align: center;
  background-color: #646464;
  border-radius: 20px;
  box-shadow: 5px 5px 4px #888888;
  font-weight: bold;
  font-family:Arial;
}

/*#message:hover {
	color: white;
	cursor: default;
}*/

::placeholder {
	color: #555555;
  font-size: 14px;
}

#sank_proc {
  grid-area:sank_proc;
  margin-right: 100px;
  margin-left: 0px;
  margin-bottom: 50px;
  height: 25px;
  width: 180px;
  border-radius: 20px;
  background-color: skyblue;
}

#sank_stat {
  grid-area:sank_stat;
  margin-right: 100px;
  height: 25px;
  width: 180px;
  border-radius: 20px;
  background-color: rosybrown;
}

#sank_ann {
  grid-area:sank_ann;
  height: 25px;
  width: 180px;
  border-radius: 20px;
  background-color: plum;
}

#button {
  grid-area:button;
  margin-top: -5px;
  top: -10px;
  margin-left: 50px;
  height: 40px;
  width: 70px;
  border-radius: 20px;
  background-color: #6c038f;
  color: white;
  border-top: 1px solid #6c038f;
  border-right: 1px solid #6c038f;
  border-bottom: 1px solid #6c038f;
  box-shadow: 5px 5px 4px #888888;
  font-weight: bold;
  font-size: 16px;
  font-family:Arial;
  outline: none;
}

#button:hover {
  color:#00A86B;
  cursor: pointer;
  text-decoration: underline;
}

#buttonR {
  grid-area:buttonR;
  margin-top: -5px;
  top: -10px;
  margin-left: 50px;
  height: 40px;
  width: 70px;
  border-radius: 20px;
  background-color: #6c038f;
  color: white;
  border-top: 1px solid #6c038f;
  border-right: 1px solid #6c038f;
  border-bottom: 1px solid #6c038f;
  box-shadow: 5px 5px 4px #888888;
  font-weight: bold;
  font-size: 16px;
  font-family:Arial;
  outline: none;
}

#buttonR:hover {
  color:#00A86B;
  cursor: pointer;
  text-decoration: underline;
}

#Graph-container {
  grid-area:Graph-container;
  margin-top: -40px;
  min-width: 0;
}

#Graphs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    min-width: 0;
}

#pieButtons{
    grid-column: 1 /span 1;
    grid-row: 1 /span 1;
    margin-top: 7px;
}

#pieChart {
    width:100%;
    grid-row: 2 /span 1;
    grid-column: 1 /span 1;
    min-width: 0;
}

#sunburstChart {
   
    grid-row: 2 /span 1;
    grid-column: 2 /span 1;
    min-width: 0;
}

#lineBarChart {
    grid-column: 1 /span 2;
    grid-row: 3 /span 1;
    min-width: 0;
}

#footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr;
    grid-template-areas: 
    "info info"
    "contactDIV contactDIV";
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: calc(100% - 685px);
    margin-bottom: 0;
    margin-left: -8px;
    padding-left: 0px;
    padding-right: 0px;
    color: white;
    font-family: 'Arial';
    font-size: 1rem;
    --border-width: 3px;
    background: #1D1F20;
    position: absolute;
    border-radius: var(--borderWidth);
}

#info {
  grid-area:info;
}

#contactDIV {
  grid-area:contactDIV;
}

@media only screen and (max-width: 1600px) {
  #workflow-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "inst_label inst_type"
    "ui_label user_int"
    "mol_label mol_type"
    "sank_proc sank_proc"
    "sank_stat sank_ann"
    "button buttonR"
    "message message"
    "Graph-container Graph-container";
}
#mol_type {
  grid-area:mol_type;
  margin: -10px 0px -10px -100px;
  width: 150px;
}

#sank_ann {
  grid-area:sank_ann;
  margin-left: -100px;
  height: 25px;
  width: 180px;
  border-radius: 20px;
  background-color: plum;
}

#Graphs-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    min-width: 0;
}

#pieButtons{
    grid-column: 1 /span 1;
    grid-row: 1 /span 1;
    margin-top: 0px;
}

#pieChart {
    width: 100%;
    grid-row: 2 /span 1;
    grid-column: 1 /span 1;
    min-width: 0;
}

#sunburstChart {
    width:100%;
    grid-row: 3 /span 1;
    grid-column: 1 /span 1;
    min-width: 0;
}

#lineBarChart {
    grid-column: 1 /span 1;
    grid-row: 4 /span 1;
    min-width: 0;
}
 
}

@media only screen and (max-width: 800px) {
  #tabs-styled-with-inline {
    height: 44px;
    margin-left:10px;
    margin-bottom: 80px;
}
  #workflow-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
  grid-template-areas: 
    "inst_label"
    "inst_type"
    "ui_label"
    "user_int"
    "mol_label"
    "mol_type"
    "sank_proc"
    "sank_stat"
    "sank_ann"
    "button"
    "buttonR"
    "message"
    "Graph-container";
}
#inst_label {
  margin-top: 40px;
  grid-area:inst_label;
}

#ui_label {
  grid-area:ui_label;
}

#mol_label {
  grid-area:mol_label;
}

#inst_type {
  grid-area:inst_type;
  margin-top: -30px;
  margin-bottom: 20px;
  margin-left: 10px;
  width: 110px;
}

#user_int {
  grid-area:user_int;
  margin-top: -10px;
  margin-bottom: 20px;
  margin-left: 10px;
  width: 110px;
}

#mol_type {
  grid-area:mol_type;
  margin-top: -10px;
  margin-bottom: 20px;
  margin-left: 10px;
  width: 150px;
}

#message {
  grid-area:message;
  font-size: 20px;
  color:white;
  border: 2px solid black;
  margin-bottom: 0px;
  margin-top: 10px;
  text-align: center;
  background-color: #646464;
  border-radius: 20px;
  box-shadow: 5px 5px 4px #888888;
  font-weight: bold;
  font-family:Arial;
}
#sank_proc {
  grid-area:sank_proc;
  margin-bottom: 20px;
  height: 25px;
  width: 180px;
  border-radius: 20px;
  background-color: skyblue;
}

#sank_stat {
  grid-area:sank_stat;
  margin-bottom: 20px;
  height: 25px;
  width: 180px;
  border-radius: 20px;
  background-color: rosybrown;
}

#sank_ann {
  grid-area:sank_ann;
  margin-left: 0px;
  height: 25px;
  width: 180px;
  border-radius: 20px;
  background-color: plum;
}

#button {
  grid-area:button;
  margin: 10px 10px 10px 0px;
  height: 40px;
  width: 70px;
  border-radius: 20px;
  background-color: #6c038f;
  color: white;
  border-top: 1px solid #6c038f;
  border-right: 1px solid #6c038f;
  border-bottom: 1px solid #6c038f;
  box-shadow: 5px 5px 4px #888888;
  font-weight: bold;
  font-size: 16px;
  font-family:Arial;
  outline: none;
}

#buttonR {
  grid-area:buttonR;
  margin: 10px 30px 10px 0px;
  height: 40px;
  width: 70px;
  border-radius: 20px;
  background-color: #6c038f;
  color: white;
  border-top: 1px solid #6c038f;
  border-right: 1px solid #6c038f;
  border-bottom: 1px solid #6c038f;
  box-shadow: 5px 5px 4px #888888;
  font-weight: bold;
  font-size: 16px;
  font-family:Arial;
  outline: none;
 
}

#pieButtons{
    grid-column: 1 /span 1;
    grid-row: 1 /span 1;
    margin-top: 40px;
}
}